{% extends "layout.html.twig" %}

{% block content %}
<div class="breadcrumbs">
    <a href=/>Homepage</a>
</div>

<h1>Confirmation</h1>

<a>We've received you order. Thanks for shopping with us!</a>

{% endblock %}